{% extends "master.html" %}

{% block title %}
    Item Photos
{% endblock %}

{% block content %}
<div class="mycard">
    <h1>Photos for Collection Item: {{ collectable }}</h1>

    <div class="photo-gallery">
        <!-- <h2>Existing Photos</h2> -->
        <div class="grid">
            {% for photo in photos %}
                <div class="photo-item">
                    <img src="{{ photo.Photo.url }}" alt="Collection Item Photo" class="photo-image">
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}